* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Centaur';
    src: url(CENTAUR.TTF);
}
@font-face {
    font-family: 'Fenix';
    src: url(Fenix-Regular.ttf);
}

@font-face {
    font-family: 'WixMadeforText-VariableFont_wght';    
    src: url(WixMadeforText-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WixMadeforText-Italic-VariableFont_wght';    
    src: url(WixMadeforText-VariableFont_wght.ttf);
}

@keyframes appear {
    from {
        opacity:0;
        scale:0.5;
    }
    to {
        opacity:1;
        scale:1;
    }
}

@keyframes transform {
    from {
        opacity:0;
        transform: translateX(-100px);
    }
    to {
        opacity:1;
        transform: translateX(0px);
    }
}

.contenedor{
    min-height: 100vh;
    background-image: url(img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.agrupar {
    text-align: center;
    display: block;
    background:white;
}

.cabezera {  
    font: 70px 'WixMadeforText-VariableFont_wght';
    width: 1260px;
    color: #FEFFFE;
    text-align: left;
    margin-bottom: 75%;
    left: 1%;
    position: relative;
}

.navegacion {
    width: 100%;
    position: fixed;
   z-index: 100000;
    background:#8d01a0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-family: 'WixMadeforText-VariableFont_wght'; 
    font-size: 20px;
    color: white;
}

.navegacion img{
    position: relative;
    border-radius: 15%;
    width: 3.5%;
    left: -80%;
    
}

.navegacion ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navegacion li{
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: inherit;
}

nav a:hover {
    background: #b302ca;
    box-shadow: 40px 0 100px #457b9d62, -40px 0 100px #e100ff;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    justify-content: flex-end; /* Align items to the bottom */
    
}

article .primeraSeccion {
    color: #fff;
    font-size: 30px;
    width: 700px;
    font-family: 'WixMadeforText-VariableFont_wght'; 
    margin-top: -75%;
    margin-left: 1%;
    text-align: left;
}

.boton {
    
    font-size: 20px;
    width: 200px;
    background: #37123C;
    border: 1px solid #37123C;
    color: #fff;
    padding: 10px 20px;
    border-radius: 1000px;
    text-decoration: none;
    position: absolute;
    left: 1%;
    bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.boton::after {
    content:'';
    position: absolute;
    height: 109%;
    width: 103%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
}

.boton:hover {
    z-index: 0;
    box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;
}



.imagen {
    width: 21%;
    height: 21%;
    position: relative;
    bottom: -90px;
    right: 400px;
}

.segundaSeccion{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    color: black;
    margin: 50px 20px;
    padding: 20px;
    position: relative;
    top: -620px; 
}

.segundaSeccion header{
    position: relative;
    left: 35px;
    top: -200px; 
    font: 70px 'WixMadeforText-VariableFont_wght';
}

.segundaSeccion p{
    position: relative;
    top: -200px;
    font: 20px 'WixMadeforText-Italic-VariableFont_wght';
    margin: 20px;
    float: right;
    width: 750px;
    text-align: left;
}

.companyimage {
    position: relative;
    border-radius: 15%;
    width: 30%;
    bottom: -100px;
    right: -120%;
    box-shadow: 7px 13px 37px #000;

}

.terceraSeccion{
    width: 650px;
    animation: transform linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    font: 25px 'WixMadeforText-Italic-VariableFont_wght';
    color: black;
    margin: 20px 20px;
    padding: 20px;
    position: relative;
    top: -600px; 
    right: -100px;
    float: left;
    text-align:left;
}

.terceraSeccion p{
    position: relative;
    top: -100px;
}

.fondo {
    animation: transform ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    background: linear-gradient(to bottom right, #008cff, #e100ff);
   
}

.contact-container {
    position:relative;
    left: -40%;
    top: 0;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color:white;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border:none;
    width: 120px;
    height: 5px;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-input:focus {
    border: 2px solid #ff994f;
}
.contact-input::placeholder {
    color:#a9a9a9
}
.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}
.contact-left button img{
    height: 15px;
}
.contact-right img{
    width: 500px;
}

@media (max-width:800px) {
    .contact-imputs {
        width: 80vw;
    }
    .contact-right{
        display:none;
    }
}
.pie {
    background-image: url(img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    color: white;
    position: relative;
    top: 0;
    clear: both;
}