<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% for campo in form %}
        {% if campo.name != 'Completed' %}
         <div class="mb-3">
            <label for="" class="form-label">{{ campo.label }}</label>
            <input
                 type="{{ campo.field.widget.input_type }}"
                 class="form-control"
                 name="{{ campo.name }}"
                 id=""
                 aria-describedby="helpId"
                 placeholder="{% if campo.name == 'priority' %}From 1 to 10{% else %}{{ campo.label }}{% endif %}"
                 value="{{ campo.value | default:'' }}"
            />
            </div class="col-12 help-text"> {{campo.errors}} </div>
        </div>
        {% endif %}
    {% endfor %}

   <input
    name=""
    id=""
    class="btn btn-success"
    type="submit"
    value="submit information"
/>
<a
    name=""
    id=""
    class="btn btn-primary"
    href="{% url 'tasks' %}"
    role="button"
    >Cancel</a
>





   
</form>