<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/animation.css">
    <title>Tasks</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="page-transition">
        <div id="logo">
             <img decoding="async" src="../img/logo.webp">
        </div>
    </div>
    <div class="card-header">
        <h1>Lista de Tareas</h1>
    </div>
    <a
        name=""
        id=""
        class="btn btn-success"
        href="{% url 'create' %}"
        role="button"
        >Add new tasks</a
    >
    
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Task</th>
                    <th scope="col">Description</th>
                    <th scope="col">Priotity</th>
                    <th scope="col">State</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr class="">
                    <td>{{ task.id }}</td>
                    <td>{{ task.title}}</td>
                    <td>{{ task.description }}</td>
                    <th>{{ task.priority }}</th>
                    <td>{{ task.Completed }}</td>
                    <td>
                        <a
                            name=""
                            id=""
                            class="btn btn-danger"
                            href="{% url 'delete' task.id %}"
                            role="button"
                            >Delete</a>
                        <a
                            name=""
                            id=""
                            class="btn btn-info"
                            href="{% url 'edit' task.id %}"
                            role="button"
                            >Edit</a>
                        {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>