@font-face {
  font-family: "WixMadeforText-Italic-VariableFont_wght";
  src: url(./static/WixMadeforText-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Centaur";
  src: url(./static/CENTAUR.TTF);
}
@font-face {
  font-family: "Fenix";
  src: url(./static/Fenix-Regular.ttf);
}

@font-face {
  font-family: "WixMadeforText-VariableFont_wght";
  src: url(./static/WixMadeforText-VariableFont_wght.ttf);
}

@font-face {
  font-family: "WixMadeforText-Italic-VariableFont_wght";
  src: url(./static/WixMadeforText-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Centaur";
  src: url(./static/CENTAUR.TTF);
}
@font-face {
  font-family: "Fenix";
  src: url(./static/Fenix-Regular.ttf);
}

@font-face {
  font-family: "WixMadeforText-VariableFont_wght";
  src: url(./static/WixMadeforText-VariableFont_wght.ttf);
}

@font-face {
  font-family: "WixMadeforText-Italic-VariableFont_wght";
  src: url(./static/WixMadeforText-VariableFont_wght.ttf);
}
@font-face {
  font-family: "WixMadeforText-Italic-VariableFont_wght";
  src: url(../WixMadeforText-VariableFont_wght.ttf);
}
