* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Centaur';
    src: url(../CENTAUR.TTF);
}
@font-face {
    font-family: 'Fenix';
    src: url(../Fenix-Regular.ttf);
}

@font-face {
    font-family: 'WixMadeforText-VariableFont_wght';    
    src: url(../WixMadeforText-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WixMadeforText-Italic-VariableFont_wght';    
    src: url(../WixMadeforText-VariableFont_wght.ttf);
}

.navegacion{
    background:#8d01a0;
    color: #ffffff !important;
    font-size: 20px;
    font-family: 'WixMadeforText-VariableFont_wght'; 
    display: flex;
    flex-direction:column;
    text-align:center;
    
}

.navegacion ul{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
}

.navegacion li {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-bottom: 12.5px
}

.navegacion a{
    color: #ffffff !important;
    height: 100%;
    padding: 2px 12px;
    text-decoration: none;
}

nav a:hover {
    background: #b302ca;
    box-shadow: 40px 0 100px #457b9d62, -40px 0 100px #e100ff;
    color: #fff;
}

.navegacion img{
    border: 1px solid white;
    border-radius: 15%;
    margin: 0;
    border-radius: 15%;
    width: 10%; 
}

@media (min-width: 720px){
    .navegacion {
    width: 100%;
    height:7.5%;
    position: fixed;
    z-index: 100;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin:0;
    }

    .navegacion ul{
    padding-bottom:10px;
    flex-direction: row;
    margin-bottom:0;
    padding-right: 0px;
        
    }

    .navegacion a{
    color: #ffffff !important;
    height: 100%;
    padding: 14px 30px;
    }

    .navegacion img{
        width: 3.5%;
    }
}